@charset "UTF-8";

html {
	width: 100%;
	height: 100%;
}

.htmlbg {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.logo {
	position: absolute;
	margin-top: 81px;
	/*margin-left: -36px;*/
	display: block;
	font-size:14px;
	z-index: 999;
}

.container {
	margin: 0 auto;
	width: 1046px;
}

.largebox {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -211px 0 0 -523px;
}

.logo {
	margin-top: 81px;
	display: block;
	/*margin-left: -36px;*/
}

/*  电脑动画  */
.computer {
	position: relative;
	margin: 64px 0 0 -55px;
	width: 633px;
	height: 357px;
}

.computer div {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all 1.5s linear;
	opacity: 0;
}

.computer .myphone {
	top: 0;
	left: -120px;
	background: url(../images/myphone.png) 0 0 no-repeat;
}

.computer .ipad {
	top: 0;
	left: 100px;
	background: url(../images/ipad.png) 0 0 no-repeat;
}

.computer .pc {
	top: -100px;
	left: 0;
	background: url(../images/pc.png) 0 0 no-repeat;
}

.computer .bar {
	top: -80px;
	left: 100px;
	background: url(../images/bar.png) 0 0 no-repeat;
}

.computer .disk {
	top: 60px;
	left: 0;
	background: url(../images/disk.png) 0 0 no-repeat;
}

.computer.active div {
	top: 0;
	left: 0;
	opacity: 1;
}

/*  登录框区域  */
.loginbox {
	position: relative;
	margin-top: 34px;
	width: 388px;
	height: 388px;
	/*background: url(../images/shadow.png) repeat;*/
	border-radius: 3px;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.loginbox .inner {
	position: relative;
	margin: 12px 15px;
	height: 345px !important;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
}

.loginbox .innerbox {
	margin: 0 16px;
	height: 246px;
}

.loginbox .right {
	color: #30bb7b;
	background-image: url(../images/right.png);
}

.loginbox .error {
	color: #fc5353;
	background-image: url(../images/error.png);
}

.loginbox .head {
	margin-top: 30px;
	height: 40px;
	font-size: 0;
	border-bottom: 1px solid #dceefc;
}

.loginbox .head .option {
	display: inline-block;
	margin-right: 8px;
	padding: 0 18px;
	font-size: 16px;
	line-height: 38px;
	color: #666;
	text-align: left;
	vertical-align: top;
	cursor: pointer;
}

.loginbox .head .option.active {
	color: #333;
	border-bottom: 3px solid #70b9f6;
}

.loginbox .input {
	display: block;
	width: 100%;
	height: 48px;
	font-size: 14px;
	line-height: 44px;
	text-indent: 46px;
	background: url(../images/pwd.png) 16px center no-repeat;
	border: 1px solid #d0dfec;
	outline: none;
	border-radius: 3px;
	box-sizing: border-box;
}

.loginbox .input.user {
	background-image: url(../images/user.png);
}

.loginbox .input.error {
	background-color: #fff7f7;
	border-color: #fb5353;
}

.loginbox .eye {
	position: absolute;
	top: 16px;
	right: 13px;
	width: 18px;
	height: 13px;
	background: url(../images/eye2.png) 0 center no-repeat;
	cursor: pointer;
}

.loginbox .eye.disable {
	background-image: url(../images/eye.png);
}

.loginbox .getcode {
	position: absolute;
	top: 11px;
	right: 11px;
	width: 90px;
	height: 26px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 24px;
	background: #5bb4ff;
	border: 1px solid #48abff;
	box-sizing: border-box;
	border-radius: 2px;
	cursor: pointer;
}

.loginbox .getcode.disable {
	background-color: #eef7ff;
	color: #2996f2;
	border-color: #eef7ff;
	cursor: not-allowed;
}

.loginbox .operate {
	padding: 14px 0;
	font-size: 12px;
	color: #666;
}

.loginbox .operate a {
	color: inherit;
}

.loginbox .operate .certificate {
	color: #2996f2;
}

.loginbox .remember {
	padding-left: 22px;
	background: url(../images/forget.jpg) 0 0 no-repeat;
	cursor: pointer;
}

.loginbox .remember.active {
	background-image: url(../images/forget2.jpg);
}

.loginbox .codeinput {
    width: 144px;
    border: 1px solid #ccc;
    height: 30px;line-height: 30px;
    outline:none;
    padding: 0 5px;
}

.loginbox .codeimg {
    height: 38px !important;
    margin-left: 5px;
}

.loginbox .submit {
	display: block;
	height: 46px;
	margin: 16px;
	font-size: 18px;
	line-height: 46px;
	color: #fff;
	text-align: center;
	background-color: #2996f2;
	border: 0;
	border-radius: 3px;
}

.loginbox .info {
	padding: 37px 0 38px;
	padding-left: 30px;
	font-size: 12px;
	line-height: 20px;
	background-position: 8px 40px;
	background-repeat: no-repeat;
}

.loginbox .infoError {
	padding: 10px 0 10px 30px;
	font-size: 12px;
	height: 12px;
	line-height: 1;
	color: #fc5353;
	background-position: 8px center;
	background-repeat: no-repeat;
}

.loginbox .changeWay {
	margin-top: 27px;
	font-size: 14px;
	line-height: 1;
	color: #2996f2;
	text-align: center;
}

.loginbox .changeWay span {
	cursor: pointer;
}

.loginbox .btnlist {
	font-size: 0;
	text-align: center;
}

.loginbox .btnlist a {
	display: inline-block;
	margin: 0 8px;
	width: 76px;
	height: 26px;
	font-size: 12px;
	line-height: 24px;
	color: #2996f2;
	text-align: center;
	border: 1px solid #2996f2;
	vertical-align: top;
	box-sizing: border-box;
	border-radius: 4px;
}

.loginbox .btnlist .mobile-download {
	position: relative;
	color: #30bb7b;
	border-color: #30bb7b;
}

.loginbox .code {
	position: absolute;
	top: 7px;
	right: 3px;
	width: 28px;
	height: 28px;
	background: url(../images/code.png) 0 0 no-repeat;
	cursor: pointer;
}

.loginbox .brain {
	position: absolute;
	top: 7px;
	right: 3px;
	width: 26px;
	height: 21px;
	background: url(../images/brain.jpg) 0 0 no-repeat;
	cursor: pointer;
}

.loginbox .keepOut {
	position: absolute;
	top: 18px;
	right: 5px;
	width: 40px;
	height: 20px;
	background-color: #fff;
	transform: rotate(45deg);
}

.loginbox .sweep {
	position: absolute;
	top: 7px;
	right: 28px;
	width: 87px;
	height: 24px;
	font-size: 12px;
	line-height: 24px;
	color: #2996f2;
	text-align: left;
	text-indent: 17px;
	background: url(../images/box.png) 0 0 no-repeat;
	transition: all .5s linear;
}

.loginbox .sweepcode {
	padding-top: 74px;
}

.loginbox .sweepcode p {
	padding-top: 25px;
	font-size: 14px;
	line-height: 1;
	color: #333;
	text-align: center;
}

.loginbox .sweepcode em {
	color: #2996f2;
}

.loginbox .renovate {
	position: relative;
	margin: 0 auto;
	width: 193px;
	height: 193px;
}

.loginbox .renovate img {
	display: block;
	height: 100%;
	width: 100%;
}

.loginbox .renovate .reinner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 14px;
	text-align: center;
	color: #333;
	background-color: rgba(255, 255, 255, 0.9);
}

.loginbox .renovate .reinner div {
	padding-top: 72px;
	line-height: 14px;
}

.loginbox .renovate .reinner span {
	display: block;
	margin: 18px auto;
	width: 100px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	background-color: #2996f2;
	border-radius: 4px;
	cursor: pointer;
}

.loginbox .success {
	padding-top: 225px;
	background: url(../images/phone2.png) center 82px no-repeat;
	font-size: 14px;
	line-height: 24px;
	color: #333;
	text-align: center;
}

.loginbox .success .green {
	color: #2eb175;
}

.loginbox .success .blue {
	color: #2996f2;
}

.phone {
	position: relative;
	width: 100%;
	height: 48px;
	line-height: 46px;
	background: #fff url(../images/phone.png) 17px center no-repeat;
	border: 1px solid #d0dfec;
	border-radius: 3px;
	box-sizing: border-box;
	z-index: 999;
}

.phone.active {
	background-color: #fff7f7;
	border-color: #fb5353;
}

.phone .national {
	padding-right: 18px;
	font-size: 14px;
	width: 91px;
	text-align: right;
	background: url(../images/arrow_down.png) right center no-repeat;
	box-sizing: border-box;
	cursor: pointer;
}

.phone input {
	width: 228px;
	height: 46px;
	font-size: 14px;
	text-indent: 10px;
	line-height: 44px;
	border: 0;
	outline: none;
	background-color: transparent;
}

.phone input.error {
	background: transparent;
}

.phone input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
}

.phone .nationList {
	display: none;
	position: absolute;
	top: 46px;
	left: -1px;
	width: 326px;
	margin-top: 1px;
	height: 140px;
	background-color: #fff;
	box-shadow: 0 1px 15px rgba(13, 111, 213, 0.3);
	overflow: hidden;
}

.phone .areacode-item {
	display: block;
	font-size: 14px;
	line-height: 35px;
	color: #666;
}

.phone .areacode-item:hover {
	color: #2996f2;
	background-color: #eff8ff;
	cursor: pointer;
}

.phone span {
	margin-right: 5px;
}

.phone .num {
	display: inline-block;
	width: 60px;
	text-indent: 19px;
	vertical-align: top;
}

.qrcode-box {
    position: absolute;
    top: -204px;
    left: -60px;
    width: 189px;
    height: 198px;
    background: url(../images/code2.png) 0 0 no-repeat;
    transition: all 1s linear;
    opacity: 0;
    z-index: -1;
}
.mobile-download:hover .qrcode-box {
	opacity: 1;
	z-index: 0;
}
.qrcode-box > img {
	width: 143px;
	height: 143px;;
    margin: 14px auto 0;
    display: block;
}
.qrcode-box > p {
    font-size: 12px;
    line-height: 32px;
    color: #666;
    text-align: center;
}
input::-ms-reveal {
	display: none;
}

/* 2021-11-22 */

.loginbox .innerbox {
    height: auto;
}

.pki-pic {
	display: block;
    width: 127.2px;
    height: 160.8px;
    margin: 20px auto;
}

.pki-words{
	line-height: 29px;
    height: 29px;
    text-align: center;
    color: #182743;
    font-size: 22px;
}


.head{
	text-align: center;
}