<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
    <script th:src="@{/static/js/select-tree.js}"></script>
    <style>
        .layui-form-label {
            float: left;
            display: block;
            padding: 9px 15px;
            width: 100px;
            font-weight: 400;
            line-height: 20px;
            text-align: right;
        }

        .layui-form-item .layui-input-inline {
            display: block;
            float: none;
            left: -3px;
            width: auto;
            margin: 0px 0px 10px 140px;
        }
    </style>
</head>
<body>
<div class="layui-form" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="xm" th:value="${editInfo.xm}" placeholder="请输入姓名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">身份证号</label>
        <div class="layui-input-inline">
            <input type="text" name="sfzh" th:value="${editInfo.sfzh}" placeholder="请输入身份证号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电话号码</label>
        <div class="layui-input-inline">
            <input type="text" name="tel" th:value="${editInfo.tel}" placeholder="请输入电话号码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-item">
            <label class="layui-form-label">所属部门</label>
            <div class="layui-input-inline">
                <input type="text" id="deptId" th:value="${editInfo.deptId}" th:data-name="${editInfo.dept}" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="xb" value="1" title="男" autocomplete="off" class="layui-input" th:checked="${editInfo.xb==1}">
            <input type="radio" name="xb" value="2" title="女" autocomplete="off" class="layui-input" th:checked="${editInfo.xb==2}">
            <input type="radio" name="xb" value="0" title="未知" autocomplete="off" class="layui-input" th:checked="${editInfo.xb==null || editInfo.xb==0}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">出生年月</label>
        <div class="layui-input-inline">
            <input type="text" name="csny" th:value="${editInfo.csny}" placeholder="请输入出生年月（例：198001）" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">参加工作年月</label>
        <div class="layui-input-inline">
            <input type="text" name="cjgzny" th:value="${editInfo.cjgzny}" placeholder="请输入参加工作年月（例：198001）" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">参加公安年月</label>
        <div class="layui-input-inline">
            <input type="text" name="cjgany" th:value="${editInfo.cjgany}" placeholder="请输入参加公安年月（例：198001）" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="white-space: normal">任一级警长起算年月</label>
        <div class="layui-input-inline">
            <input type="text" name="yjny" th:value="${editInfo.yjny}" placeholder="任一级警长起算年月（例：198001）" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">警务序列</label>
        <div class="layui-input-block">
            <input type="radio" name="jwxl" value="1" title="执法勤务" autocomplete="off" class="layui-input" th:checked="${editInfo.jwxl==1}">
            <input type="radio" name="jwxl" value="2" title="警务技术" autocomplete="off" class="layui-input" th:checked="${editInfo.jwxl==2}">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit="" lay-filter="kFormSubmit" id="kFormSubmit">
        <input type="text" name="id" th:value="${editInfo.id}" autocomplete="off" class="layui-input">
        <input type="text" name="dept" th:value="${editInfo.dept}" placeholder="保存dept" autocomplete="off" class="layui-input">
    </div>
</div>

<script th:replace="common/base::context"></script>
<script th:replace="common/base::mainjs"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var $ = layui.$, form = layui.form;


        // 下拉树
        var deptSelectTreeObj = initSelectTree("deptId", {
            async: {
                enable: true,
                type: req.type.get,
                url: api.sys.deptListTree,
                autoParam: ["id=parentId"],
                otherParam: {},
                dataFilter: function (treeId, parentNode, responseData) {
                    if (!responseData.data){
                        return null;
                    }
                    var nodes = responseData.data;

                    $.each(nodes, function(i, n){
                        if (n.type === 0 || n.type === 1) {
                            n.isParent = true;
                        }
                    });
                    return nodes;
                }
            },
            callback: {
                beforeClick: function (treeId, treeNode, clickFlag) {
                    //设置部门名称
                    $('input[name="dept"]').val(treeNode.name);
                    log($('input[name="dept"]').val());
                    if (treeNode.level === 0) { // 不可选中
                        return false;
                    }
                }
            }
        });

        var deptNode = deptSelectTreeObj.getNodeByParam("id", 0, null);
        deptSelectTreeObj.expandNode(deptNode);

        //监听提交
        form.on('submit(kFormSubmit)', function(data){
            var field = data.field; //获取提交的字段
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

            var url = field.id ? 'func/policeInfo/edit' : 'func/policeInfo/add';
            log($('input[name="dept"]').val());
            //提交 Ajax 成功后，关闭当前弹层并重载表格
            $.ajax({
                type: req.type.post,
                url: BASE_WEB + url,
                data: field,
                async: false,
                success: function (r) {
                    if (r.code === req.status.ok) {
                        // 重载表格
                        parent.layui.table.reload('kContentTable');
                        parent.layer.close(index); //再执行关闭
                    } else {
                        kvfKit.errorMsg(r.msg);
                    }
                }
            });

        });
    })
</script>
</body>
</html>