<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
<!--    <style>-->
<!--        .layui-table th .layui-table-cell{-->
<!--            height:auto;-->
<!--            overflow:visible;-->
<!--            text-overflow:inherit;-->
<!--            white-space:normal;-->
<!--        }-->
<!--    </style>-->
</head>
<body style="background-color: #f2f2f2;">

<div id="kPage" class="layui-fluid" style="padding: 0">
    <div class="layui-row">
        <div class="layui-col-md12" id="kMainContentCol">
            <div class="layui-fluid kvf-fluid-padding15">
                <div class="layui-card">
                    <form>
                        <div class="layui-form layui-card-header kvf-card-header-auto">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">警员姓名</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="username" placeholder="请输入警员姓名" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">标题</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="title" placeholder="请输入标题" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">状态</label>
                                    <div class="layui-input-inline">
                                        <select class="layui-select" name="status">
                                            <option value="">请选择</option>
                                            <option value="0">未审核</option>
                                            <option value="1">通过</option>
                                            <option value="2">退回</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <button class="layui-btn " lay-submit="" lay-filter="kTableSearchFilter">
                                        <i class="layui-icon layui-icon-search"></i>
                                    </button>
                                    <button class="layui-btn " type="reset" data-event="refresh">
                                        <i class="layui-icon layui-icon-refresh-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="layui-card-body">
                        <table id="kContentTable" lay-filter="kContentTable"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script th:replace="common/base::context"></script>
<script th:replace="common/base::mainjs"></script>

<!--头部工具栏模板-->
<script type="text/html" id="headToolbarTpl">
    <button class="layui-btn layui-btn-sm " lay-event="add">添加</button>
    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchdel">批量删除</button>
</script>

<!--表格行工具栏模板-->
<script type="text/html" id="rowToolbarTpl">
    {{#  if([[${user == 'admin'}]]){ }}
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="sync"><i
            class="layui-icon layui-icon-refresh"></i>同步</a>
        {{#  if(d.status == 0){ }}
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit"><i
                class="layui-icon layui-icon-edit"></i>审核</a>
        {{# }else{ }}
        <span>-</span>
        {{# } }}
    {{# }else{ }}
        {{#  if(d.status == 2){ }}
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="reback"><i
                class="layui-icon layui-icon-edit"></i>重新报名</a>
        {{# }else{ }}
        <span>-</span>
        {{# } }}
    {{# } }}
</script>

<!--表格列格式化模板 start-->
<script type="text/html" id="statusTpl">
    {{#  if(d.status == 0){ }}
    <span class="layui-badge layui-bg-blue">未审核</span>
    {{#  } else if(d.status == 1){ }}
    <span class="layui-badge layui-badge-orange">已通过</span>
    {{#  } else if(d.status == 2){ }}
    <span class="layui-badge layui-bg-gray">已退回</span>
    {{# } }}
</script>

<script type="text/html" id="rankTpl">
    {{# var data = kvfKit.get(api.func.getRank + d.id).data; }}
    {{# return data ? data : '<span>-</span>'; }}
</script>
<!--表格列格式化模板 end-->

<script type="text/javascript" th:inline="javascript">
    layui.use(['element', 'form', 'layer', 'table', 'laydate'], function () {
        var elemet = layui.element, form = layui.form, layer = layui.layer, table = layui.table, laydate = layui.laydate;
        var tableId = 'kContentTable';
        var area = ['449px', '95%'];

        // 实例化table
        var tableIns = table.render($.extend(config.layui.table, {
            elem: '#' + tableId
            ,url: BASE_WEB + 'func/promotionRec/list/data' // 数据接口
            // ,toolbar: '#headToolbarTpl'
            ,cols: [[ //表头
                {type:'checkbox', fixed: 'left'}
                ,{field: 'username', title: '警员姓名', width: 130, align: 'center'}
                ,{field: 'score', title: '积分', width: 80, align: 'center'}
                ,{field: 'title', title: '标题', width: 250,align: 'center'}
                ,{field: 'content', title: '内容',align: 'center'}
                ,{field: 'status', title: '状态', width: 130, templet: '#statusTpl', align: 'center'}
                ,{field: 'rank', title: '当前排名（仅供参考，具体以公示为准）', width: 300, templet: '#rankTpl',align: 'center'}
                ,{field: 'createTime', title: '报名时间', width: 180,align: 'center'}
                ,{field: '', title: '操作', width: 200, fixed: 'right', templet: '#rowToolbarTpl', align: 'center'}
            ]]
        }));

        // 监听表格头部事件
        table.on('toolbar(' + tableId + ')', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            var checkData = checkStatus.data; // 得到选中的数据
            switch(obj.event) {
                case 'add':
                    layer.open({
                        type: 2
                        ,title: '添加'
                        ,content: BASE_WEB + 'func/promotionRec/edit'
                        ,maxmin: true
                        ,area: area   // 宽高
                        ,btn: ['确定', '取消']
                        ,yes: function(index, layero){
                            //点击确认触发 iframe 内容中的按钮提交
                            var submit = layero.find('iframe').contents().find("#kFormSubmit");
                            submit.click();
                        }
                    });
                    break;
                case 'batchdel':
                    if(checkData.length === 0){
                        return kvfKit.warningMsg('请选择数据');
                    }
                    layer.confirm('确定删除吗？', function(index) {
                        var ids = [];
                        $.each(checkData, function(i, n){
                            ids[i] = n.id;
                        });

                        //执行 Ajax 后重载
                        $.ajax({
                            type: req.type.post,
                            url: BASE_WEB + 'func/promotionRec/batchdel',
                            data: {ids: ids.toString()},
                            success: function (r) {
                                if (r.code === req.status.ok) {
                                    table.reload(tableId);
                                    kvfKit.sucessMsg('已删除');
                                } else {
                                    kvfKit.errorMsg(r.msg);
                                }
                            }
                        });
                    });
                    break;
            }
        });

        // 表格行按钮 监听事件
        table.on('tool(' + tableId + ')', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if (layEvent === 'sync') {
                layer.confirm('确定要同步积分吗？', function(index) {
                    //执行 Ajax 后重载
                    $.ajax({
                        type: req.type.post,
                        url: BASE_WEB + 'func/promotionRec/sync?id=' + data.id,
                        async: false,
                        success: function (r) {
                            if (r.code === req.status.ok) {
                                table.reload(tableId);
                                kvfKit.sucessMsg('积分同步成功！');
                            } else {
                                kvfKit.errorMsg(r.msg);
                            }
                        }
                    });
                });
            }

            if (layEvent === 'edit') {
                layer.confirm('确定审核通过吗？', {
                    title: "操作提示",
                    icon: 0,
                    btn: ['通过', '退回', '取消'] //可以无限个按钮
                    , btn3: function (index, layero) {
                        //按钮【按钮三】的回调
                        log('3')
                    }
                }, function (index, layero) {
                    //按钮【按钮一】的回调
                    $.ajax({
                        type: req.type.post,
                        url: BASE_WEB + 'func/promotionRec/edit?id=' + data.id + "&status=1",
                        async: false,
                        success: function (r) {
                            if (r.code === req.status.ok) {
                                table.reload(tableId);
                                kvfKit.sucessMsg('审核通过');
                            } else {
                                kvfKit.errorMsg(r.msg);
                            }
                        }
                    });
                }, function (index) {
                    //按钮【按钮二】的回调
                    $.ajax({
                        type: req.type.post,
                        url: BASE_WEB + 'func/promotionRec/edit?id=' + data.id + "&status=2",
                        async: false,
                        success: function (r) {
                            if (r.code === req.status.ok) {
                                table.reload(tableId);
                                kvfKit.sucessMsg('已退回');
                            } else {
                                kvfKit.errorMsg(r.msg);
                            }
                        }
                    });
                });
            }
            if (layEvent === 'reback') {
                layer.confirm('确定要重新报名吗？', function(index) {
                    //执行 Ajax 后重载
                    $.ajax({
                        type: req.type.post,
                        url: BASE_WEB + 'func/promotionRec/edit?id=' + data.id + "&status=0",
                        async: false,
                        success: function (r) {
                            if (r.code === req.status.ok) {
                                table.reload(tableId);
                                kvfKit.sucessMsg('重新报名成功！');
                            } else {
                                kvfKit.errorMsg(r.msg);
                            }
                        }
                    });
                });
            }
            if (layEvent === 'del') {
                layer.confirm('确定删除吗？', function(index) {
                    //执行 Ajax 后重载
                    $.ajax({
                        type: req.type.post,
                        url: BASE_WEB + 'func/promotionRec/del/' + data.id,
                        async: false,
                        success: function (r) {
                            if (r.code === req.status.ok) {
                                table.reload(tableId);
                                kvfKit.sucessMsg('已删除');
                            } else {
                                kvfKit.errorMsg(r.msg);
                            }
                        }
                    });
                });
            }
        });


        // 监听查询
        form.on('submit(kTableSearchFilter)', function (obj) {
            renderTableData(obj.field);
            return false;
        });

        var active = {
            refresh: function () {
                var $form = $('form');
                $form[0].reset();
                renderTableData(kvfKit.getFormJson($form));
            }
        };

        kvfKit.activeInit(active);

        function renderTableData(params) {
            params = params ? params : {};

            tableIns.reload({
                where: params,
                page: {curr: 1}
            });
        }

        // 绑定监听回车事件
        kvfKit.bindEnterEventForLayuiForm();

    });
</script>

</body>
</html>